/* Register.css */

.register-container {
  position: relative;
}

.register-form-group {
  margin-bottom: 15px;
}

.register-form-group label {
  display: block;
  margin-bottom: 5px;
}

.register-form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.register-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color: #0056b3;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

.skip-text {
  font-size: 14px; /* Adjust font size as needed */
  color: #007bff; /* Adjust color as needed */
  cursor: pointer;
}

.skip-text:hover {
  text-decoration: underline;
}
